/*************/
/* CSS RESET */
/*************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/******************/
/* GENERAL STYLES */
/******************/
body {
    font-family: Arial;
    background: linear-gradient(to right, hsl(240, 100%, 60%), hsl(240, 100%, 80%), hsl(240, 100%, 60%));
}

main {
    text-align: center;
    padding: 1.2rem;
}

h1,
h2 {
    margin: 1rem 0 2rem 0;
}

h2 {
    display: inline-block;
    background-color: hsl(246, 65%, 29%);
    color: white;
    margin-bottom: 3rem;
    padding: 1rem 2rem;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/*******************/
/* UTILITY CLASSES */
/*******************/
.btn {
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: hsl(215, 100%, 50%);
    color: white;
    border-radius: 10px;
    transition: all 0.5s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/*************************/
/* HEADER NAVIGATION BAR */
/*************************/
header {
    width: 100vw;
    background: black;
    color: white;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li a {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    transition: all 0.5s;
}

header nav ul li a:hover {
    background: white;
    color: black;
}

/*****************/
/* QUIZDATA FORM */
/*****************/
form {
    width: 500px;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

form textarea {
    width: 500px;
    height: 100px;
    max-width: 95%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: Arial;
    color: hsl(120, 100%, 15%);
    outline: none;
    border: 3px solid black;
    border-radius: 4px;
    transition: all 0.3s;
}

form textarea::placeholder {
    font-style: italic;
}

form textarea:focus {
    border: 5px solid hsl(120, 100%, 15%);
    transform: scale(1.02);
}

form button {
    padding: 0.5rem 1rem;
}

form button.btn-submit {
    background: green;
}

.error-box {
    width: 500px;
    max-width: 100%;
    border: 2px solid red;
    margin: 1rem auto 2rem auto;
    padding: 2.5rem;
    background-color: white;
    color: red;
    font-weight: bold;
}

#root main form textarea.emptyfield-error {
    border: 4px solid red;
}

/*************/
/* CARD LIST */
/*************/

.quizdata-card {
    background-color: blue;
    color: white;
    padding: 2rem;
    margin: 1rem 2rem;
    position: relative;
}

.quizdata-card > * {
    margin-bottom: 0.5rem;
}

.quizdata-card h3 {
    text-align: center;
}

.quizdata-card:nth-child(even) {
    background-color: purple;
}

.quizdata-card span {
    font-size: 0.7rem;
    display: inline-block;
    padding: 0.3rem 0.6rem;
    background-color: red;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
}

.quizdata-card span:hover {
    cursor: pointer;
    transform: scale(1.04);
}

/*************/
/* PLAY QUIZ */
/*************/
.quiz-experience-container h2 {
    background-color: inherit;
    padding: 0;
    margin: 0;
}

.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: hsl(246, 65%, 39%);
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}
.quiz-answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    width: 100%;
}

.answer {
    min-width: 40%;
    background-color: hsl(246, 65%, 79%);
    color: hsl(246, 65%, 19%);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.answer.green {
    background-color: green;
    color: white;
}

.answer.red {
    background-color: red;
    color: white;
}

.answer:hover {
    cursor: pointer;
    transform: scale(1.01) translateY(-1px);
}

.correct-answer,
.correct-answer:hover {
    background-color: green;
    color: white;
}

.false-answer,
.false-answer:hover {
    background-color: red;
    color: white;
}

.score-minus {
    background-color: white;
    color: red;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    position: fixed;
    top: 5rem;
    left: 1rem;
}

.score-plus {
    background-color: white;
    color: red;
    padding: 1rem;
    font-weight: bold;
    border-radius: 10px;
    position: fixed;
    top: 5rem;
    right: 1rem;
}

.quiz-experience-container .btn {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: hsl(246, 65%, 29%);
    color: white;
    border-radius: 10px;
    transition: all 0.3s;
}

.quiz-experience-container .btn:hover {
    background-color: hsl(246, 65%, 19%);
    /* transform: scale(1.05); */
    /* cursor: pointer; */
}

.quiz-experience-container .btn.btn-show-answer {
    margin-right: 0.3rem;
    background-color: hsl(112, 47%, 20%);
}
.quiz-experience-container .btn.btn-show-answer:hover {
    background-color: hsl(112, 47%, 15%);
}

.quiz-experience-container .btn.btn-next {
    margin-left: 0.3rem;
    background-color: hsl(275, 100%, 35%);
}
.quiz-experience-container .btn.btn-next:hover {
    background-color: hsl(275, 100%, 30%);
}

/* Signup & Login Forms */
form.signup,
form.login {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    text-align: left;
}

form.signup label,
form.login label,
form.signup input,
form.login input {
    display: block;
    width: 100%;
    padding: 0.5rem;
}

form.signup label,
form.login label {
    padding-left: 0;
}

form.signup > *,
form.login > * {
    margin-top: 1rem;
}
