* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.quizdata-card {
    background-color: blue;
    color: white;
    padding: 2rem;
    margin: 1rem 2rem;
}

.quizdata-card > * {
    margin-bottom: 0.5rem;
}

.quizdata-card h3 {
    text-align: center;
}

.quizdata-card:nth-child(even) {
    background-color: purple;
}
